if TARGET_CELERITY_IMX6COM

config SYS_BOARD
	default "celerity_iMX6COM"

config SYS_VENDOR
	default "celerity"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "celerity_iMX6COM"

endif
